#textToolInput {
	position:fixed;
	top:-1000px; /*Hidden*/
	left: 80px;
	width:500px;
}
#textToolInput:focus {
	top: 5px;
}

text {
	font-family: sans-serif;
	user-select:none;
	-moz-user-select:none;
}
