/* Remote Lecture */
/* Copyright (C) 2021  Hugo Raguet */
/* SPDX-License-Identifier: GPL-3.0-or-later */

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

#board {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu::-webkit-scrollbar {
	display: none;
}

.menu {
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-size: 16px;
	border-radius: 0;
	overflow-y: scroll;
	position: fixed;
	margin-bottom: 30px;
	top: 50px; /* leave space for navigation buttons and messages */
	color: black;
	max-height: 100%;
	transition-duration: 1s;
	cursor: default;
	padding: 10px;
	pointer-events: none;
    z-index: 2;
}

#menu {
	left: 0;
}

#menu-slides {
	right: 0;
}

.menu .slides {
	direction: rtl;
}

.menu.closed {
	border-radius:3px;
	left:10px;
	top:10px;
	background-color:rgba(100,200,255,0.7);
	width:6vw;
	height:2em;
	transition-duration:1s;
}

.menu h2{ /*Menu title ("Menu")*/
	display: none;
	font-size:4vh;
	text-align: center;
	letter-spacing:.5vw;
	text-shadow: 0px 0px 5px white;
	color:black;
	padding:0;
	margin:0;
}

.menu .tools {
	list-style-type:none;
	padding:0;
}

.menu .tool {
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
	pointer-events: auto;
	white-space: nowrap;
	list-style-position:inside;
	border:1px solid #eeeeee;
	text-decoration:none;
	cursor:pointer;
	background: #ffffff;
	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
	max-width: 40px;
	transition-duration: .2s;
	overflow: hidden;
	width: max-content;
	box-shadow: inset 0 0 3px #8FA2BC;
}

.menu .tool:hover {
	max-width: 100%;
	transition-duration: 0s;
}

@media (hover: none), (pointer: coarse) {
	.menu .tool:hover {
		max-width: 40px;
	}

	.menu .tool:focus {
		max-width: 100%;
	}

	.menu {
		pointer-events: auto;
	}

	.menu:focus-within {
		pointer-events: none;
	}

}

.menu .oneTouch:active {
	border-radius: 3px;
	background-color:#eeeeff;
}

.menu .tool:active {
	box-shadow: inset 0 0 1px #ddeeff;
	background-color:#eeeeff;
}

.menu .tool.curTool {
  box-shadow: 0 0 5px #0074D9;
  background: linear-gradient(#96E1FF, #36A2FF);
}

.menu .tool-icon {
	display: inline-block;
	text-align:center;
	width: 35px;
	height: 35px;
	margin: 2.5px;
	font-family: monospace;
	overflow: hidden;
}

.menu img.tool-icon {
	pointer-events: none;
}

.menu .tool-icon > * {
	display: block;
	margin: auto;
}

.menu .tool-name {
	text-align: center;
	font-size: 23px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 2.5px;
	display: inline-block;
	vertical-align: text-bottom;
}

.menu .tool-name.slider {
	display: inline-block;
    width: 150px;
    height: 30px;
    font-size: .9em;
    line-height: 15px;
    vertical-align: top;
    padding: 6px;

}

.menu .tool.hasSecondary .tool-icon{
	margin-top:0px;
	margin-left:0px;
}

.menu .tool .tool-icon.secondaryIcon{
	display: none;
}

.menu .tool.hasSecondary .tool-icon.secondaryIcon{
	display: block;
	position: absolute;
    bottom: 0px;
    left: 26px;
    width: 12px;
    height: 12px;
}

input {
	font-size:16px;
}

.colorPresets, .colorPresetsWhiteout {
	margin-right: 20px;
	vertical-align: top;
	display: inline-block;
}

.colorPresetButton {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	margin-right: 6px;
	padding: 0;
	vertical-align: middle;
}

.rangeChooser {
	display: block;
	border: 0;
	width: 100%;
	margin: 0;
	background: transparent;
}

circle.opcursor {
	pointer-events: none;
	transition: .1s;
}

#cursor-me {
	transition: 0s;
}
