<meta charset="UTF-8">

<title><!-- title --></title>

<!-- shutdown favicon request  -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<link rel="stylesheet" type="text/css" href="common/remote-lecture.css">

<script src='/socket.io/socket.io.js'></script>
