/* Remote Lecture */
/* Copyright (C) 2021  Hugo Raguet */
/* SPDX-License-Identifier: GPL-3.0-or-later */

html, body, svg {
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    background-color: #ffffff;
}

button {
    margin-top: 1vw;
    margin-left: 1vw;
    float: left;
    font-size: 1.3rem;
    position: relative;
    z-index: 1;
    border: 1px aliceblue;
    border-radius: 10px;
    padding: 4px 8px;
    color: #EEE;
    background: #067EED;
    cursor: pointer;
}

button:hover{
    color: #067EED;
    background-color: #ffffff;
    border: 1px solid #067EED;
    transition: all .5s ease;
    font-size: 1.4rem;

}

.fullscreen-container { /* used for title, textboard */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    z-index: 0;
}

#message {
    position: absolute;
    margin-top: 1vw;
    right: 1vw;
    z-index: 1;
    font-family: sans-serif;
    color: #808080;
    white-space: pre-wrap;
}

.fullscreen-container>#textboard0, .fullscreen-container>#textboard1{
    color: #ffffff;
}

input[type="color"] {
	-webkit-appearance: none;
	border: 1px solid black;
	width: 30px;
	height: 30px;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
}

/* li.tool button, li.tool button img, li.tool form button, li.tool form button img{
    margin: 0;
    z-index: 1;
    border:none;
    padding: 0;
    color: #EEE;
    background: none;
    cursor: pointer;
} */

/* li.tool button:hover{
    color:none;
    background-color: none;
    border: none;
    transition: none;
} */

button#home {
    margin-left: 10px;
}
